// Variables
$primary-color: #6F3C2B;
$primary-light: #F4F0EE;
$primary-dark: #C4C4C4;
$secondary-color: #262626;
$secondary-light: #FFFFFF;
$danger: red;
$font-primary: "Miracle";
$font-primary-2: "Comfortaa";
$font-secondary: "Helvetica Nueue Light";
$font-secondary-2: "Helvetica Nueue Medium";
$font-secondary-3: "Helvetica Nueue Bold";
